@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: Thundercover;
  src: url("/src/fonts/Thundercover.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  src: url("/src/fonts/Ubuntu.ttf") format("truetype");
}

@font-face {
  font-family: Spartan;
  src: url("/src/fonts/Spartan.otf") format("opentype");
}

.container{
  max-width: 1000px;
  margin: 10px auto;
}

.bg-slate-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(30 41 59 / var(--tw-bg-opacity));
}

.font-Borel{
font-family: 'Borel', cursive;
}

body{
  background-image: url("images/sun_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

